div.button-center

{
height: 80px;
position: relative;

   margin: auto;

   width: 50%;

}

 

div.button-center input

{

   padding: 5px;

   width: 50%;

   font-size: 15px;
   margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}


